
%ul
  - if user_signed_in?
    %li== logged in as #{current_user.handle}
    %li= link_to 'Sign out', destroy_user_session_path
    - if admin_signed_in?
      %li= link_to 'Admin Data', admin_data_root_path
  - else
    %li= link_to 'Sign in', new_user_session_path
    %li= link_to 'Register', new_user_registration_path
